*{
    margin: 0%;
    padding: 0%;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: #e0e0e0;
    padding: 2% 0%;
    box-sizing: border-box;
}
.head {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.head img{
    height: 100px;
    text-align: center;
    padding-bottom: 20px;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    margin: 0% auto;
    width: 1220px;
}
.img{
    height: 200px;
    width: 400px;
    overflow: hidden;
    position: relative;
    transition: scale 0.5s ease , opacity 0.5s linear;
    border-radius: 10px;
    background-color: #e0e0e0;
}
.img img{
    width: 100%;
    height: auto;
    transition: scale 0.5s ease;
}
.minimized img:hover , .minimized:hover{
    scale: 1.2;
}
.content:has(.minimized:hover) .minimized:not(:hover){
    scale: .8;
    opacity: .8;
}

.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    border-radius: 0;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    z-index: 1000;
    overflow: visible;
    padding: 100px;
}